<h2><%= @ocean.name %></h2>
<div class='game-board' style="width:<%= (@width+1) * 31 %>px; height:<%= (@height+1) * 31 %>px">
  <% @ocean.height.times do |y_coord| %>

    <% @ocean.width.times do |x_coord| %>
      <% cell = @ocean.cells.where(x_coord: x_coord + 1, y_coord: y_coord + 1).first %>
      <% cell_class = (cell.hit? && cell.ship_id != nil) ? 'cell-ship' : (cell.hit? ? 'cell-hit' : 'cell-untouched') %>
      <div class='<%= cell_class %>' id="cell-<%= cell.id %>"></div>
    <% end %>

    <div class='y-coord'><p><%= y_coord + 1 %></p></div>
    <div class='clear'></div>
  <% end %>

  <% @ocean.width.times do |x_coord| %>
    <div class='x-coord'><p><%= x_coord + 1 %></p></div> 
  <% end %>
  <div class='clear'></div>

</div>
<div class='hit-ships'>
  <p>
    <span <% if @ships.where(sunk: true).length > 0 %> style="color: #17eda9" <% end %> >
      <%= @ships.where(sunk: true).length %>
    </span>
    / <%= @ships.length %> ships sunk
  </p>
  <% if !@game.complete %>
    <p><%= @game.num_torpedoes %>
      <% if @game.num_torpedoes == 1 %>
        torpedo
      <% else %>
        torpedoes
      <% end %> left
    </p>
  <% else %>
    <% if @ships.where(sunk: true).length == @ships.length %>
      <p class='won-game'>You won this round!</p>
    <% else %>
      <p class='bad-input'>You lost</p>
    <% end %>
  <% end %>
</div>
<% if !@game.complete %>
  <p class='bad-input'>Enter number coordinates that exist!</p>
  <form action='/players/<%= @player.id %>/games/<%= @game.id %>/move' method='post' class='game-move'>
    <label>Coordinates
      <input type='text' name='x_coord' placeholder='X' autofocus>
      <input type='text' name='y_coord' placeholder='Y'>
    </label>
    <input type='submit' value='Shoot'>
    <a href="/players/<%= @player.id %>" class='cancel'>Quit</a>
  </form>

<% else %>

  <a href="/players/<%= @player.id %>/records" class='cancel'>Go Back</a>

<% end %>