<h2><%= @ocean.name %></h2>
<div class='game-board' style="width:<%= (@width+1) * 31 %>px; height:<%= (@height+1) * 31 %>px">
  <% @ocean.height.times do |y_coord| %>

    <% @ocean.width.times do |x_coord| %>
      <% cell = @ocean.cells.where(x_coord: x_coord + 1, y_coord: y_coord + 1).first %>
      <% cell_class = (cell.hit? && cell.ship_id != nil) ? 'cell-ship' : (cell.hit? ? 'cell-hit' : 'cell-untouched') %>
      <div class='<%= cell_class %>' id="cell-<%= cell.id %>"></div>
    <% end %>

    <div class='y-coord'><%= y_coord + 1 %></div>
    <div class='clear'></div>
  <% end %>

  <% @ocean.width.times do |x_coord| %>
    <div class='x-coord'><%= x_coord + 1 %></div> 
  <% end %>
  <div class='clear'></div>

</div>
<div class='hit-ships'><p><%= @ships.where(sunk: true).length %>/<%= @ships.length %> ships sunk</p></div>
<% if !@game.complete %>
  <p class='bad-input'>Enter number coordinates that exist!</p>
  <form action='/players/<%= @player.id %>/games/<%= @game.id %>/move' method='post'>
    <input type='text' name='x_coord' placeholder='X' autofocus>
    <input type='text' name='y_coord' placeholder='Y'>
    <input type='submit' value='Shoot'>
  </form>

  <a href="/players/<%= @player.id %>">Go Back</a>

<% else %>

  <a href="/players/<%= @player.id %>/records">Go Back</a>

<% end %>